.cont1{
  background-color: skyblue;
  height: 1600px;
  width: 380px;
}
h2{
  text-align:left;
  color:#5837D0;
}
h3
{
  text-align:center;
}
.sp{
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}
p{
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}
h4
{
  margin-left: 10px;
  padding: inherit;
}
.cont2{
  position: absolute;
  left: 390PX;
  top: 0;
  margin-top: 5px;
}
hr{
  height: 10px;
}
ul
{
  font-size: 20px;
}
.yy
{
  position: absolute;
  right: 5px;
}
.yyy{
  position: absolute;
  right: 35px;
}
